/*https://neumorphism.io/#ffffff*/
.panel {
border-radius: 26px;
background: #ffffff;
box-shadow:  5px 5px 10px #919191,
             -5px -5px 10px #ffffff;
}

.button {
	border-radius: 15px;
	background: linear-gradient(145deg, #ffffff, #e6e6e6);
	box-shadow:  4px 4px 7px #d9d9d9,
	             -4px -4px 7px #ffffff;
	border-style: none;
}
.button:active {
	border-radius: 15px;
	background: linear-gradient(145deg, #e6e6e6, #ffffff);
	box-shadow:  4px 4px 7px #d9d9d9,
	             -4px -4px 7px #ffffff;
	border-style: none;
}
button:focus {
	outline:0;
}