<!DOCTYPE html>
<html lang="jp">
    <head>
        <title>knowleadge-tips</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
        <script src="@routes.Assets.versioned("javascripts/jquery-2.1.4.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/jquery-ui.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/hello.js")" type="text/javascript"></script>
    </head>
    <body>
    	<header>
    		<h1>フレックスボックスのテスト</h1>
    		<a href="https://developer.mozilla.org/ja/docs/Learn/CSS/CSS_layout/Flexbox">参考サイト</a>
   		</header>

    	<div style="display:flex;">
    		<section style="flex: 1; margin:10px;">

    			<div style="padding:10px; margin:5px;" class="panel">
    				<button class="button" style="padding:10px;">new-tips</button>
    			</div>
    			<article  style="padding:10px; margin:5px;" class="panel">
	    			<h1>詳細表示</h1>
	    			<p>マップ内で選択したtipの詳細内容を表示</p>
    			</article>
    			<div  style="padding:10px; margin:5px;" class="panel">
    				<h2 id="title">Hello world</h2>
    				<div id="note">
	    				<p>Hello Worldとは、画面に「Hello, World!」と出力するだけの機能を持つ、簡単なプログラムである。<br>
	    				<br>
						多くのプログラミング言語入門書がこのプログラムを最初の例として挙げているため、多くの初心者がこのプログラムを最初に書くことになる。<br>
						<br>
						「Hello, World!」を直訳すると、「こんにちは、世界！」となる。「こんにちはこんにちは！！」と訳す人もいる。<br>
						<br>
						Hello Worldは、ブライアン・カーニハンとデニス・リッチーによるC言語解説書「プログラミング言語C」（通称K&R）に由来すると言われている。出力する文言は別に何でも良いのだが、K&Rの伝統に則り、「Hello, World!」と出力する例が多いようだ（ただし、K&Rでは「hello, world」と全て小文字で感嘆符が無いものを出力している）。</p>
    				</div>
    			</div>
    		</section>
    		<section style="flex: 3; margin: 10px; padding:10px; display:flex; min-height:2000px;" class="panel">
    			<iframe id="wb_svg_frame" style="width:100%;" src="/svg"></iframe>
    		</section>
    	</div>
    </body>
</html>