<!DOCTYPE html>
<html lang="jp">
    <head>
        <title>knowleadge-tips</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
        <script src="@routes.Assets.versioned("javascripts/hello.js")" type="text/javascript"></script>
    </head>
    <body>
    	<section>
    		<h1>やりたいこと</h1>
    		<p>タイトル・本文・タグで構成された箱をちりばめたい。</p>
    		<p>箱と箱を線でつなぎたい。</p>
    		<p>線は任意に付け替えしたい。</p>
    		<p>箱はドラッグドロップで移動したい。</p>
    		<p>箱を移動したら線もくっついてきてほしい。</p>
    	</section>
    	<section>
    		<h1>実装方法案</h1>
    		<ul>
    			<li>通常DOMで実装：線てどうする・・・？</li>
    			<li>canvas+jsで！：一旦こっちでかんがえてみる。処理負荷とかどうなんだろう。</li>
    			<li>他にやり方があるかも？</li>
    		</ul>
    	</section>
    </body>
</html>